body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  padding-bottom: 80px;
}
h1 {
  font-size: 60px;
  color: rgb(92, 91, 91);
  font-weight: 700;
}
h3 {
  font-size: 40px;
  color: rgb(92, 91, 91);
}
p {
  color: rgb(92, 91, 91);
  font-size: 20px;
  text-align: justify;
  padding-bottom: 100px;
}
.para {
  color: rgb(92, 91, 91);
  font-size: 20px;
  text-align: justify;
  padding-bottom: 40px;
}

.half-width {
  width: 50%;
  padding: 4%;
}

.first-pic {
  width: 100%;
}

.colorblue {
  color: blue;
}

.link-button {
  text-decoration: none;
  color: whitesmoke;
  background-color: cornflowerblue;
  background-image: linear-gradient(
    to right,
    rgba(209, 159, 243, 0),
    rgb(1, 25, 53)
  );
  padding: 20px 50px;
  border-radius: 25px;
}

.backgrd-pic {
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-repeat: no-repeat;
}
.sec-pic {
  width: 80%;
}

.recipe-head {
  text-align: center;
}

.third-pic {
  width: 100%;
}
.forth-pic {
  width: 90%;
  height: 50%;
}
.recipe {
  width: 80%;
  margin: 0 auto;
}
.recipie-content {
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.card1 {
  width: 40%;
  box-shadow: 10px 10px 40px rgb(135, 97, 241);
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5%;
}
.card2 h3 {
  color: black;
}
.counter-people {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 100px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  padding-top: 60px;
}

.counter-people div {
  padding: 4%;
}

.card2 h3 {
  margin: 0;
}

.card2 p {
  margin: 0;
}

.foot {
  background-color: rgb(120, 120, 241);
  text-align: center;
  padding-top: 2%;
  color: white;
  padding-bottom: 4%;
  line-height: 2;
}
